@import '~antd/dist/antd.css';
/* @import '~antd/dist/antd.dark.css'; */
/* @import '~antd/dist/antd.compact.css'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63, 63, 63);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo {
  height: 64px;
  margin: 16px;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 5rem;
  overflow: hidden;
  word-wrap: initial;
  word-break: initial;
}


.site-layout{
  margin-left: 250px;
  transition: margin .5s;
}


@media screen and (max-width : 992px){
  .site-layout{
    margin-left: 0px;

  }

}

/* TODO see if this breaks stuff */
html .ant-table-wrapper {
  height: 100%;
  overflow: hidden;

}

html .ant-spin-nested-loading {
  height: 100%;

}

html .ant-spin-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}
  
html .ant-table {
  max-height: 90%;
  overflow: auto;
}